// === WAVE ANIMATION ===
.wave {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes wave {
  0% {box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);}
  100% {box-shadow: 0 0 0px 10px rgba(255, 255, 255, 0);}
}
// === / WAVE ANIMATION ===