html,
body {height: 100%;}

body {
  color: $white;
  font-family: $main-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  scroll-behavior: smooth;
}

input:focus::placeholder,
textarea:focus::placeholder {color: transparent;}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.cursor {
  cursor: pointer;
}

// === SLICK SLIDER UI ===
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  path {
    opacity: 0.3;
  }
}
// === / SLICK SLIDER UI ===

// === FIXING FANCYBOX ISSUE ===
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
// === / FIXING FANCYBOX ISSUE ===

// === CLICKABLE LEFT & RIGHT SIDES WITH SLOWLY FLASHING ANIMATION ===
// .next-screen-scroll,
// .next-screen-scroll--bright,
// .next-screen-scroll--very-bright,
// .prev-screen-scroll,
// .prev-screen-scroll--bright,
// .prev-screen-scroll--very-bright {
//   display: block;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 20px;
//   min-height: 100%;
//   z-index: 5;
// }

// .prev-screen-scroll,
// .prev-screen-scroll--bright,
// .prev-screen-scroll--very-bright {
//   left: 0;
// }
// === / CLICKABLE LEFT & RIGHT SIDES WITH SLOWLY FLASHING ANIMATION ===

// .wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100%;
// }

// .main {
// 	flex: 1 0 auto;
// }
// .footer {
// 	flex: 0 0 auto;
// }


// .extended-container {
//   max-width: 1302px;
//   margin: 0 auto;
//   padding: 0 10px;
// }