// === MAX-WIDTH [ < 768px ] ===
@media (max-width: 768px) {
  .container {
    padding: 0 78px;
  }

  .heading {
    font-size: 45px;
    line-height: 56px;
  }

  .title {
    font-size: 26px;
    line-height: 32px;
  }
  // === //

  .header {
    margin-bottom: 257px;
  }

  .navigation {
    &__btn-link {
      margin-bottom: 23px;
      border-radius: 2px;
      width: 9px;
      height: 8px;
    }

    &__buttons-bar--hero {
      transform: translateY(-20%);
    }

    &__buttons-bar--about-armenia {
      transform: translateY(-63%);
    }
  }

  .hero {
    padding-bottom: 0;

    &__title {
      margin-bottom: 44px;
      font-size: 100px;
      line-height: 124px;
      text-align: center;
      letter-spacing: 1.3rem;
    }

    &__bottom {
      display: block;
    }

    &__text {
      margin-bottom: 35px;
      padding-left: 7px;
      font-size: 13px;
      line-height: 16px;
    }

    &__button {
      display: none;

      &--tablet {
        position: relative;
        display: inline-block;
        border: 2px solid $green;
        border-radius: 1px;
        padding: 12px 26px 13px 47px;
        font-size: 13px;
        line-height: 16px;
        background-color: rgba($green, 0.2);

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          top: 30%;
          background-image: url("../images/icons/play-button-green--tablet.svg");
          background-repeat: no-repeat;
          width: 21px;
          height: 21px;
        }
      }
    }
  }

  // === ABOUT-ARMENIA ===
  .about-armenia {
    padding: $indent-tab 0;
  }

  .about-armenia__inner {
    margin-right: 0;
  }

  .about-armenia__heading {
    margin-bottom: 37px;
  }

  .about-armenia__heading::before,
  .about-armenia__heading::after {
    width: 26.5%;
  }

  .about-armenia__title {
    margin-bottom: 20px;
  }

  .about-armenia__inner {
    flex-wrap: wrap;
  }

  .about-armenia__description {
    margin-right: 0;
  }

  .about-armenia__text {
    font-size: 15px;
    line-height: 22px;
    width: 620px;
  }

  .about-armenia__text-link {
    margin-bottom: 40px;
    width: 120px;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;

    &::after {
      top: 4px;
      left: 105px;
    }
  }

  .about-armenia__video-cover {
    min-width: 485px;
  }

  .about-armenia__video-cover-play {
    width: 56px;
    height: 56px;
  }
  // === / ABOUT-ARMENIA ===
}
// === / MAX-WIDTH [ < 768px ] ===

// === MAX-WIDTH [ < 320px ] ===
@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }

  .heading {
    font-size: 28px;
    line-height: 1;
  }

  .title {
    font-size: 18px;
    line-height: 22px;
  }

  .hero-wrapper {
    background: url("../images/hero-background-mobile.jpg");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header {
    margin-bottom: 155px;
  }

  .header__inner {
    padding: 25px 0 0;
  }

  .header__phone {
    padding-left: 5px;
    font-size: 13px;
    line-height: 16px;

    &::before {
      left: -12px;
    }
  }

  .hero__title {
    margin-bottom: 24px;
    font-size: 49px;
    line-height: 60px;
    letter-spacing: 0.11em;
  }

  .hero__text {
    margin-bottom: 40px;
    padding-left: 4px;
    max-width: 223px;
    font-size: 7px;
    line-height: 9px;
  }

  .navigation__btn-link {
    margin-bottom: 15px;
    width: 6px;
    height: 6px;
  }

  .navigation__buttons-bar {
    right: 8%;
  }

  .navigation__buttons-bar--hero {
    transform: translateY(17%);
  }

  .navigation__btn-link--hero {
    background-color: #7d823a;
  }

  .hero__button--tablet {
    padding: 7px 11px 7px 21px;
    border: 1px solid $green;
    font-size: 6px;
    line-height: 1;

    &::before {
      background-image: url("../images/icons/play-button-green--mobile.svg");
      width: 9px;
      height: 9px;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // === ABOUT-ARMENIA ===
  .about-armenia {
    padding: $indent-phone 0;
  }

  .about-armenia__heading::before,
  .about-armenia__heading::after {
    width: 14%;
  }

  .about-armenia__text {
    max-width: 280px;
  }

  .about-armenia__text-link {
    margin-bottom: 21px;
    width: 106px;
    font-size: 9px;
    line-height: 13px;

    &::after {
      left: 91px;
    }
  }

  .about-armenia__video-cover {
    min-width: 227px;
}

  .about-armenia__video-cover-play {
    width: 27px;
    height: 27px;
  }
  // === / ABOUT-ARMENIA ===
}
// === / MAX-WIDTH [ < 320px ] ===
