// Color Variables
$white: #fff;
$black: #000;

$nav-gray: #A6A6A6;
$green: #10EA67;
$dark-green: #394F28;
$dark-green-card: #3A540E;
$grey: #BDBDBD;
$light-gray: #919191;

// Font Variables
$main-font: 'Montserrat', sans-serif;