@import "vars";
@import "global";
@import "libs";
@import "reset";
@import "animation";

.hero-wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header {
  height: 150px;
  margin-bottom: 160px;

  &__inner {
    padding: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__phone {
    position: relative;
    padding-left: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $dark-green;
  }
  &__phone::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 2px;
    background-image: url("../images/icons/header-phone.svg");
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    margin-right: 10px;
  }

  &__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
}
// === NAVIGATION ===
.navigation {
  &__buttons-bar {
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-60%);
    transition: all 0.3s ease 0s;
    padding-left: 15px;

    &--hero,
    &--about-armenia {
      transform: translateY(-100%);
    }
    &--offer {
      top: 73%;
      transform: translateY(-199%);
    }
    &--about-us {
      transform: translateY(-102%);
    }
    &--locations {
      transform: translateY(-53%);
    }
    &--contacts {
      transform: translateY(42%);
    }
  }

  &__buttons-bar:hover &__link,
  &__buttons-bar:hover &__link--disabled {
    display: inline-flex;
    transition: $transition-fast;
  }
  &__buttons-bar:hover .wave,
  &__buttons-bar:hover .wave-dark {
    animation: none;
  }
  &__buttons-bar:hover &__btn-link--hero {
    background-color: rgba(#5f6325, 0);
  }
  &__buttons-bar:hover &__btn-link--about-armenia {
    background-color: rgba(#cfcfcf, 0);
  }
  &__buttons-bar:hover &__btn-link--offer {
    background-color: rgba(#e1b990, 0);
  }
  &__buttons-bar:hover &__btn-link--about-us {
    background-color: rgba(#cfcfcf, 0);
  }
  &__buttons-bar:hover &__btn-link--locations {
    background-color: rgba(#cfcfcf, 0);
  }
  &__buttons-bar:hover &__btn-link--contacts {
    background-color: rgba(#7b8b9e, 0);
  }

  &__btn-link {
    border-radius: 2px;
    width: 11px;
    height: 10px;
    margin-bottom: 25px;
    transition: $transition-fast;
    &--hero {
      background-color: #5f6325;
    }
    &--about-armenia {
      background-color: rgba(#cfcfcf, 0.2);
    }
    &--offer {
      background-color: #e1b990;
    }
    &--about-us {
      background-color: #cfcfcf;
    }
    &--locations {
      background-color: #cfcfcf;
    }
    &--contacts {
      background-color: #7b8b9e;
    }
  }

  &__menu {
    position: absolute;
    display: none;
    top: 50%;
    right: 4%;
    transform: translate(3%, -43%);
    width: 150px;
    height: 227px;
    padding: 97px 25px 98px 86px;
  }
  &__menu::before {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(12%, -60%);
    width: 254px;
    height: 310px;
    z-index: -1;
  }
  &__menu--hero::before {
    background: linear-gradient(
      271.44deg,
      #c4e3cb 1.34%,
      rgba(189, 207, 193, 0) 93.68%
    );
    filter: blur(20px);
  }

  &__item {
    padding-bottom: 15px;
    text-align: right;
  }

  &__link.navigation__link--hero {
    color: #000;
  }

  &__link {
    height: 22px;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
  }
  &__link--disabled span {
    display: inline-flex;
    height: 22px;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: rgba(#fff, 0.5);
    cursor: default;
  }

  &__link-btn {
    display: inline-flex;
    height: 17px;
    width: 19px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    margin-left: 8px;

    &--disabled {
      display: inline-flex;
      height: 17px;
      width: 19px;
      background-color: rgba(#fff, 0.5);
      border: 1px solid rgba(#000, 0.5);
      border-radius: 3px;
      margin-left: 8px;
      cursor: default;
    }
  }
}

.about-armenia,
.offer,
.about-us,
.locations,
.contacts {
  .navigation__link {
    color: $black;
  }
  .navigation__link--disabled span {
    color: rgba($black, 0.5);
  }
}

.hero {
  padding-bottom: 80px;
  // TODO: ask if such gradient is okay or not
  &__title {
    margin-bottom: 16px;
    // background-image: url("../images/armenia.png");
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;
  }

  &__title-word {
    // color: transparent;
    background: -webkit-linear-gradient(
      rgba(#fff, 1) 50%,
      rgba(#fff, 0.8) 63%,
      rgba(#fff, 0.6) 70%,
      rgba(#fff, 0.3) 80%,
      rgba(#fff, 0.1) 90%,
      rgba(#fff, 0) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-size: 220px;
    line-height: 244px;
    width: 100%;
    letter-spacing: 42px;
  }

  &__bottom {
    margin-bottom: 170px;
    display: flex;
    align-items: flex-end;
  }

  &__text {
    padding-left: 10px;
    max-width: 445px;
    font-size: 15px;
    line-height: 18px;
    border-left: 1px solid $green;
    background-color: rgba($black, 0.1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  &__button-icon {
    margin-right: 14px;
    transition: $transition;
  }

  &__button {
    position: relative;
    margin-left: auto;
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 254px;
    height: 60px;
    border: 2px solid $green;
    border-radius: 2px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 16px 44px;
    font-size: 16px;
    line-height: 20px;
  }
  &__button::before {
    content: "";
    position: absolute;
    border-bottom: 60px solid rgba($green, 0.2);
    right: -60px;
    border-right: 60px solid transparent;
    transform: translateX(-100%);
    transition: $transition;
  }
  &__button::after {
    content: "";
    position: absolute;
    border-bottom: 60px solid rgba($green, 0.2);
    left: -60px;
    border-left: 60px solid transparent;
    transform: translateX(100%);
    transition: $transition;
  }
  &__button::before {
    top: 0;
    bottom: 0;
    left: 0;
  }
  &__button::after {
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__button:hover {
    outline: 0;
  }
  &__button:hover &__button-icon,
  &__button:hover &__button-text {
    z-index: 3;
  }
  &__button:hover &__button-icon {
    path {
      fill: #fff;
    }
  }
  &__button:hover::before {
    transform: translateX(0);
  }
  &__button:hover::after {
    transform: translateX(0);
  }

  &__navigation-menu {
    position: absolute;
    top: 36px;
    right: 55px;
  }

  &__navigation-item {
    background-color: #288c26;
  }
}

.heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  padding: 0 35px;
  position: relative;
  text-align: center;
}

.heading::before,
.heading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 35%;
  top: 56%;
}

.heading::before {
  left: 0;
}

.heading::after {
  right: 0;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.home-btn {
  width: 29px;
  height: 29px;
  background-image: url("../images/icons/home.svg");
  transition: $transition;

  &.about-armenia__home-btn {
    background-image: url("../images/icons/home-black.svg");
  }
}
.home-btn:hover {
  transform: scale(1.1);
}

.about-armenia {
  position: relative;
  padding-top: $between;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 253, 247, 0.9) 10%,
    rgba(150, 240, 175, 0.2) 100%
  );
  text-align: center;

  &__heading {
    color: $black;
    margin-bottom: 75px;
  }

  &__heading::before,
  &__heading::after {
    background-color: $black;
    width: 37.4%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
  }

  &__description {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    width: 565px;
    text-align: left;
    color: $black;
  }

  &__title {
    margin-bottom: 37px;
    color: $black;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  &__text-link {
    margin-bottom: 128px;
    position: relative;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.045em;
    width: 130px;
    color: $black;
    transition: $transition-fast;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $black;
    }
  }
  &__text-link::after {
    content: "";
    position: absolute;
    left: 117px;
    top: 6px;
    width: 15px;
    height: 5px;
    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &__video-link {
    display: block;
    cursor: pointer;
  }

  &__video-cover {
    position: relative;
    min-width: 681px;
    // min-height: 327px;
    border-radius: 3px;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.27));
    z-index: 1;
  }

  &__video-cover-play {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 39.5%;
    right: 32.5%;
    border-radius: 50%;
    transition: $transition;
    z-index: 2;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__home-btn {
    margin-bottom: 60px;
  }
}

.card {
  width: 392px;
  color: $white;

  &__image {
    width: 392px;
    height: 207px;
    filter: drop-shadow(0px 4.02393px 10.0598px rgba(0, 0, 0, 0.6));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 22px 20px 15px;
    min-height: 305px;
    background-color: $dark-green-card;
    filter: drop-shadow(0px 4.02393px 10.0598px rgba(0, 0, 0, 0.6));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
  }

  &__divider {
    margin: 0 auto 30px;
    width: 52px;
    height: 0.5px;
    background-color: rgba($white, 0.4);
  }

  &__text {
    opacity: 0.8;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 28px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    margin-left: 3px;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $green;
  }

  &__price-discount {
    display: none;
    font-size: 14px;
    line-height: 17px;
    color: rgba($green, 0.3);
  }

  &__stats {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $white;
  }

  &__stats-days {
    display: flex;
    margin-right: 8px;
  }

  &__stat-days-img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }

  &.card--promo {
    .card__price-discount {
      position: absolute;
      top: 5px;
      right: -40px;
      display: block;
      text-decoration: line-through;
    }
  }
}

.offer {
  padding-top: $between;
  padding-bottom: 60px;
  position: relative;
  background-image: url("../images/offer-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $black;

  &__heading {
    margin-bottom: 50px;
    text-align: center;
  }
  &__heading::before,
  &__heading::after {
    background-color: $black;
    width: 31.1%;
  }

  &__title {
    text-align: left;
    margin-bottom: 40px;
  }

  &__colorful-tours {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}

.about-us {
  position: relative;
  padding-top: $between;
  // padding-bottom: $between;
  min-height: 100vh;
  color: #000;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 253, 247, 0.9) 10%,
    rgba(150, 240, 175, 0.2) 100%
  );
  border-bottom: 1px solid rgba($black, 0.3);

  &__heading {
    position: relative;
    margin-bottom: 35px;
  }

  &__heading::before,
  &__heading::after {
    background-color: $black;
    width: 43.5%;
  }

  &__description {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 884px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  &__stats {
    padding: 35px 320px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ceffcd;
    margin-bottom: 50px;
  }

  &__stats-item {
    display: flex;
    flex-direction: column;
    width: 237px;
  }

  &__stats-number {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
  }

  &__stats-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__team-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 35px;
  }

  &__team-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__sliders-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__slider-lg {
    max-width: 555px;
    max-height: 311px;
  }

  &__slider-sm {
    max-width: 419px;
    max-height: 311px;

    .slick-prev,
    .slick-next {
      position: absolute;
      bottom: 0;
      right: 20px;
      border: none;
      width: 45px;
      height: 10px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .slick-prev {
    right: 79px;
  }

  &__slider-photo-lg {
    border-radius: 2px;
    position: absolute;
    top: 62px;
    left: 0;
    width: 193px;
    height: 189px;
  }

  &__slider-box-lg {
    margin-left: 112px;
    border-radius: 2px;
    padding: 91px 40px 77px 102px;
    font-style: italic;
    background-color: #9aec98;
  }

  &__slider-title-lg {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
    margin-left: 5px;
  }

  &__slider-text-lg {
    position: relative;
    margin-bottom: 14px;
    margin-left: 5px;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
  }
  &__slider-text-lg::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 6px;
    height: 2px;
    background-color: #000;
  }

  &__slider-photo {
    border-radius: 2px;
    margin-right: 21px;
    margin-bottom: 15px;
    width: 189px;
    height: 184px;
  }

  &__slider-text {
    margin-left: 2px;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    line-height: 18px;
  }
}

.locations {
  position: relative;
  padding-top: $between;
  padding-bottom: $between;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 253, 247, 0.9) 10%,
    rgba(150, 240, 175, 0.2) 100%
  );
  color: $black;

  &__heading {
    margin-bottom: 50px;
  }

  &__heading::before,
  &__heading::after {
    background-color: $black;
    width: 27.5%;
  }

  &__slider {
    .slick-prev,
    .slick-next {
      position: absolute;
      bottom: 0;
      right: 0;
      border: none;
      padding: 22px 15px 22px 12px;
      background-color: #e4fbea;
      cursor: pointer;
    }
    .slick-prev {
      z-index: 5;
      right: 73px;
    }
  }

  &__inner {
    display: grid !important;
    height: 769px;
    grid-template-columns: (33.3%) (27.3%) 3fr;
    grid-template-rows: (34%) (20.7%) 3fr;
    gap: 20px;
  }

  &__item {
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
      grid-row: span 2;
    }
  }

  //   &__inner {
  //     position: relative;
  //     align-items: center;
  //   }
  //   &__inner-background::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: -6%;
  //     width: 1297px;
  //     height: 734px;
  //     border-radius: 5px;
  //     background-image: url("../images/gallery/background.png");
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     opacity: 0.45;
  //   }
  //   &__top {
  //     width: 1148px;
  //     display: flex;
  //     justify-content: space-between;
  //     padding-top: 42px;
  //     margin-bottom: 15px;
  //   }

  //   &__link {
  //     cursor: pointer;
  //   }

  //   &__link-picture {
  //     border-radius: 2px;
  //     filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.27));

  //     &--church-text {
  //       position: absolute;
  //       top: 26%;
  //       left: 65%;
  //       font-weight: 600;
  //       font-size: 37px;
  //       line-height: 45px;
  //       color: #000;
  //       z-index: 2;
  //     }
  //     &--church-text::before {
  //       content: "";
  //       position: absolute;
  //       top: 120%;
  //       left: 29%;
  //       width: 66px;
  //       height: 1.5px;
  //       background-color: #000;
  //       z-index: 2;
  //     }
  //   }

  //   &__link-picture--filter {
  //     position: absolute;
  //     top: 6%;
  //     width: 464px;
  //     height: 322px;
  //     background-color: rgba(#fff, 0.85);
  //     z-index: 1;
  //     transition: $transition;
  //   }
  //   &__link:hover &__link-picture--filter {
  //     background-color: transparent;
  //   }
  //   &__link:hover &__link-picture--church-text {
  //     color: #fff;
  //   }
  //   &__link:hover &__link-picture--church-text::before {
  //     background-color: #fff;
  //   }

  //   &__bottom {
  //     width: 1148px;
  //     display: flex;
  //     justify-content: space-between;
  //   }
  //   &__home-btn {
  //     margin-top: 80px;
  //     margin-bottom: -44px;
  //   }
}

// === CONTACTS ===
.bottom-wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/contacts-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts {
  position: relative;
  padding-top: $between;

  &__heading {
    margin-bottom: 35px;
  }

  &__heading::before,
  &__heading::after {
    background-color: $white;
    width: 40.2%;
  }
  &__info-block {
    display: flex;
    justify-content: space-between;
    margin: 0 220px 62px 190px;
  }

  &__info-item {
    min-width: 240px;
    display: flex;
    align-items: center;
  }
  &__info-item + &__info-item {
    min-width: 150px;
  }

  &__info-icon {
    margin-right: 15px;
    transition: $transition;
  }

  &__item-textbox {
    display: flex;
    flex-direction: column;
  }

  &__info-link {
    display: inline-block;
  }

  &__info-link + &__info-link {
    margin-left: -90px;
  }

  &__info-link:hover &__info-icon {
    transform: scale(1.15);
  }

  &__info-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  &__info-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    border-bottom: 1px solid transparent;
    transition: $transition;
  }

  &__info-link:hover &__info-text {
    border-bottom: 1px solid #fff;
  }

  &__form {
    border-radius: 2px;
    width: 100%;
    min-height: 312px;
    background-color: rgba(#fff, 0.75);
    padding: 32px 22px 45px;
    text-align: center;
  }

  &__form-title {
    margin-bottom: 30px;
    color: $black;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
  }

  &__form-input {
    width: 520px;
    height: 45px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: 0.67px solid rgba(#000, 0.5);
    border-radius: 2.68px;
    background-color: transparent;
  }
  &__form-input::placeholder,
  &__form-textarea::placeholder {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(#000, 0.7);
  }
  &__form-input + &__form-input {
    margin-left: 84px;
  }

  &__form-textarea {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 12px auto 35px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    resize: none;
    width: 1128px;
    background-color: transparent;
  }

  &__form-button {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 45px;
    background-color: transparent;
    border: 4px solid $green;
    border-radius: 2.3px;
    cursor: pointer;
    transition: $transition;
  }
  &__form-button:hover {
    background-color: rgba($green, 0.2);
  }
}

// === FOOTER ===
.footer {
  margin: 12% 0 60px;
  min-height: 200px;
  color: $black;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
  }

  &__logo-image {
    width: 30px;
    height: 30px;
    margin-right: 14px;
  }

  &__logo-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__email {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    border-bottom: 1px solid transparent;
    transition: $transition-fast;

    &:hover {
      border-bottom: 1px solid $black;
    }
  }

  &__copyright {
    font-weight: 400;
    line-height: 12px;
    font-size: 10px;
    letter-spacing: 0.01em;
    color: rgba($black, 0.55);
  }

  &__center-wrapper {
    margin: auto 0;
    min-width: 400px;
  }

  &__form {
    letter-spacing: 0.06em;
  }

  &__form-title {
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
  }

  &__form-subtitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 12px;
  }

  &__input {
    margin-right: -5px;
    border: 0.67px solid rgba(#000, 0.7);
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 5px 5px;
    resize: none;
    width: 300px;
    background-color: transparent;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #000;
  }
  &__input::placeholder {
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.06em;
    color: rgba(#000, 0.7);
  }

  &__button {
    padding: 4px 25px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $green;
    border-radius: 2px;
    background-color: rgba($green, 0.2);
    cursor: pointer;
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__social {
    text-align: right;
  }

  &__social-link {
    display: inline-block;
    transition: $transition;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__social-link + &__social-link {
    margin-left: 10px;
  }

  &__social-img {
    width: 32px;
    height: 32px;
  }

  &__contact-author {
    display: block;
    text-align: right;
  }

  &__author {
    display: inline-block;
    padding-right: 2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: rgba($black, 0.55);
    border-bottom: 1px solid transparent;
    transition: $transition-fast;

    &:hover {
      color: $black;
      border-bottom: 1px solid $black;
    }
  }
}

// =======
@import "media";
