@import "global";
@import "reset";
@import "vars";
@import "media";

.hero-wrapper {
  background-image: url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.header {
  height: 150px;
  margin-bottom: 150px;
  &__inner {
    padding: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $dark-green;
  }
  // &__button {
  //   color: #000;
  //   font-weight: 600;
  //   font-size: 11px;
  //   line-height: 13px;
  //   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  //   transition: all 0.5s ease 0s;
  //   cursor: pointer;
  //   outline: none;
  // }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__image {
    margin-right: 10px;
  }
  &__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
}

// .button {
//   border: 2px solid #10ea67;
//   border-radius: 100px;
//   padding: 7px 14px;
// }
// .button:hover {
//   background-color: #10ea67;
//   box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
//   color: #fff;
//   transform: translateY(-5px);
// }
.hero {
  min-height: 750px;
  &__title {
    margin-bottom: 44px;
    background-image: url(../images/armenia.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title-word {
    color: transparent;
    font-weight: 300;
    font-size: 200px;
    line-height: 244px;
    min-width: 100%;
    letter-spacing: 45px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
  }
  &__text {
    font-size: 14px;
    line-height: 17px;
    width: 510px;
    border-left: 1px solid $green;
    padding-left: 7px;
  }
  &__button {
    width: 254px;
    height: 60px;
    border: 2px solid $green;
    border-radius: 2px;
    background-color: rgba($green, 0.2);
    display: flex;
    align-items: center;
    padding: 16px 44px;
    font-size: 16px;
    line-height: 20px;
  }
  &__button-icon {
    width: 30px;
    height: 30px;
    margin-right: 14px;
  }
}
.social{
  width: 134px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}